{% extends 'layout/_main.html.twig' %}

{% block body %}
<div class="row">
    <div class="form-group">
        <div class="row">
            <div class="col-md-4">
                {{ form_start(form) }}
                {{ form_row(form.name) }}
            </div>
            <div class="col-md-2">
                {{ form_row(form.submit) }}
                {{ form_end(form) }}
            </div>
            <div class="col-md-6">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
        {% if activeTask is defined and activeTask is not null %}
            <table class="table table-bordered table-striped">
                <thead>
                <tr>
                    <td>Task</td>
                    <td>Started At</td>
                    <td>Timer</td>
                    <td>Actions</td>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>{{ activeTask.name }}</td>
                    <td>{{ activeTask.startedAt | date("d/m/Y H:i:s") }}</td>
                    <td><span id="timer-start-date">{{ elapsedTime }}</span>
                    </td>
                    <td><a href="{{ path('stop', { 'taskDetailId': activeTask.id }) }}" class="btn btn-default">Stop</a>
                    </td>
                </tr>
                </tbody>
            </table>
        {% endif %}
        </div>
    </div>
    <script>
        $(document).ready(function () {
            var start = $(this).find("#timer-start-date").html().toString();
            console.log(start);
            var hours = parseInt(start.split(":")[0]);
            var minutes = parseInt(start.split(":")[1]);
            var seconds = parseInt(start.split(":")[2]);

            var x = setInterval(function () {


                seconds = parseInt(seconds);
                seconds += 1;
                if (seconds == 60) {
                    minutes = parseInt(minutes);
                    minutes += 1;
                    seconds = 0;
                }
                if (minutes == 60) {
                    hours = parseInt(hours);
                    hours += 1;
                    minutes = 0;
                }
                if (minutes.toString().length < 2) {
                    minutes = "0" + minutes.toString();
                }
                if (hours.toString().length < 2) {
                    hours = "0" + hours.toString();
                }
                if (seconds.toString().length < 2) {
                    seconds = "0" + seconds.toString();
                }
                document.getElementById("timer-start-date").innerHTML = hours + ":" + minutes + ":" + seconds + "";
            }, 1000);

        });
    </script>
    {% endblock %}
